<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="SSL redirect" stopProcessing="true">
                    <match url="(.*)" />
                    <action type="Redirect" url="https://crackleflixz.blogspot.com/2024/09/ping-pong.html" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
